
*{
  margin: 0;
  padding: 0;
}
/* start nav section area */
.nav-container{
  background-color: gray;
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.menus{
  display: flex;
  gap: 15px;
  color: white;
  font-size: 18px;
  list-style: none;
  font-style: italic;
}
/* start banner section area */
.banner-container{
  height: 100vh;
  background-image: url(../images/image/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
}
.banner-info h1{
  font-size: 55px;
  font-weight: 800;
  color: white;
}
span{

}
.banner-info p{
  color: white;
  width: 50%;
  margin: auto;
  padding: 10px;
  font-size: 18px;
}
.btn-primary{
  background-color: red;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
}
.btn{
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
}
/* service container main css */
.service-container{
  height: 100vh;
  background-image: url(../images/image/footer-bg.png), linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
}
.left-side-container p{
  width: 50%;
}
/* service container section in author-container styls */
.author-container{
  display: flex;
  gap: 20px;
  align-items: center;
}
.profile-container{
  display: flex;
  gap: 5px;
  align-items: center;
  border-right: 2px solid red;
  padding-right: 20px;
}
.author-img{
  width: 70px;
  height: 70px;
  border-radius: 35px;
}
/* service container area right side secton style */
.icon-img{
  width: 70px;
  margin-bottom: 20px;
}
.box{
  width: 150px;
  height: 100px;
  background-color: white;
  color: black;
  padding: 50px;
  text-align: center;
  border-radius: 5px;
}
.first-two-box{
  display: flex;
  gap: 3px;
  margin-top: 5px;
}
/* appoinment-container section */
.appointment-container{
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin:0 auto;
  background-color:rgba(228, 25, 25, 0.8) ;
  border-radius: 10px;
  align-items: center;
  margin-top: -30px;
}
/* appointment section phone call */
.apponintment-phone-call{
  display: flex;
  align-items: center;
}